# Data Ingestion

In [1]:
# Importing libraries

import pandas as pd

In [ ]:
# Loading data

providers_copy = pd.read_csv('/Users/nehadhananju/Desktop/FoodWasteManagement/data/providers_data.csv')
receivers_copy = pd.read_csv("/Users/nehadhananju/Desktop/FoodWasteManagement/data/receivers_data.csv")
foodlisting_copy = pd.read_csv("/Users/nehadhananju/Desktop/FoodWasteManagement/data/food_listings_data.csv")
claim_data_copy = pd.read_csv("/Users/nehadhananju/Desktop/FoodWasteManagement/data/claims_data.csv")

In [9]:
providers_copy.shape,receivers_copy.shape,foodlisting_copy.shape,claim_data_copy.shape

((1000, 6), (1000, 5), (1000, 9), (1000, 5))

# Data Preproccessing

### Clean Providers Data

In [7]:
providers_copy.head()

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [19]:
providers_copy.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [26]:
# Remove duplicates
providers_copy.drop_duplicates(inplace=True)

# Remove leading/trailing spaces
providers_copy['Name'] = providers_copy['Name'].str.strip()
providers_copy['Type'] = providers_copy['Type'].str.strip().str.title()
providers_copy['City'] = providers_copy['City'].str.strip().str.title()
providers_copy['Address'] = providers_copy['Address'].str.strip()
providers_copy['Contact'] = providers_copy['Contact'].str.strip()

# Ensure Provider_ID is integer
providers_copy['Provider_ID'] = providers_copy['Provider_ID'].astype(int)

providers_copy.head()

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

### Clean Receivers Data

In [27]:
receivers_copy.head()

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [ ]:
# Checking for null values

receivers_copy.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [29]:
receivers_copy.drop_duplicates(inplace=True)

receivers_copy['Name'] = receivers_copy['Name'].str.strip()
receivers_copy['Type'] = receivers_copy['Type'].str.strip().str.title()
receivers_copy['City'] = receivers_copy['City'].str.strip().str.title()
receivers_copy['Contact'] = receivers_copy['Contact'].str.strip()

receivers_copy['Receiver_ID'] = receivers_copy['Receiver_ID'].astype(int)

receivers_copy.head()

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         Ngo  South Randalltown  691-023-0094x856
3            4    Erika Rose         Ngo   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

### Clean Food Listing Data

In [15]:
foodlisting_copy.isnull().sum()

Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

In [30]:
foodlisting_copy.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [32]:
foodlisting_copy.drop_duplicates(inplace=True)

# String cleanup
foodlisting_copy['Food_Name'] = foodlisting_copy['Food_Name'].str.strip().str.title()
foodlisting_copy['Provider_Type'] = foodlisting_copy['Provider_Type'].str.strip().str.title()
foodlisting_copy['Location'] = foodlisting_copy['Location'].str.strip().str.title()
foodlisting_copy['Food_Type'] = foodlisting_copy['Food_Type'].str.strip().str.title()
foodlisting_copy['Meal_Type'] = foodlisting_copy['Meal_Type'].str.strip().str.title()

# Numeric cleanup
foodlisting_copy['Quantity'] = pd.to_numeric(foodlisting_copy['Quantity'], errors='coerce').fillna(0).astype(int)

# Date cleanup
foodlisting_copy['Expiry_Date'] = pd.to_datetime(foodlisting_copy['Expiry_Date'], errors='coerce')

foodlisting_copy['Food_ID'] = foodlisting_copy['Food_ID'].astype(int)
foodlisting_copy['Provider_ID'] = foodlisting_copy['Provider_ID'].astype(int)

foodlisting_copy.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,2025-03-17,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,2025-03-24,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,2025-03-28,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,2025-03-16,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,2025-03-19,279,Restaurant,Garciaport,Vegan,Dinner

### Clean Claim Data

In [34]:
claim_data_copy.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [16]:
claim_data_copy.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

In [35]:
claim_data_copy.drop_duplicates(inplace=True)

claim_data_copy['Status'] = claim_data_copy['Status'].str.strip().str.title()
claim_data_copy['Timestamp'] = pd.to_datetime(claim_data_copy['Timestamp'], errors='coerce')

claim_data_copy['Claim_ID'] = claim_data_copy['Claim_ID'].astype(int)
claim_data_copy['Food_ID'] = claim_data_copy['Food_ID'].astype(int)
claim_data_copy['Receiver_ID'] = claim_data_copy['Receiver_ID'].astype(int)

claim_data_copy.head()

   Claim_ID  Food_ID  Receiver_ID     Status           Timestamp
0         1      164          908    Pending 2025-03-05 05:26:00
1         2      353          391  Cancelled 2025-03-11 10:24:00
2         3      626          492  Completed 2025-03-21 00:59:00
3         4       61          933  Cancelled 2025-03-04 09:08:00
4         5      345          229    Pending 2025-03-14 15:17:00

### Save Cleaned Data

In [36]:
providers_copy.to_csv("data/providers_clean.csv", index=False)
receivers_copy.to_csv("data/receivers_clean.csv", index=False)
foodlisting_copy.to_csv("data/foodlisting_clean.csv", index=False)
claim_data_copy.to_csv("data/claims_clean.csv", index=False)

print("Cleaned datasets saved in 'data/' folder")

Cleaned datasets saved in 'data/' folder